/* HEADER */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;
  position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -5px;
  background: #35a22c;
  transition: 0.3s;
}

header .navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link:before {
  color: #35a22c;
  width: 100%;
}

.navbar a:hover {
  text-decoration: none;
}

nav > a > i {
  color: green;
  font-size: 45px;
}
nav > a > span {
  font-size: 36px;
  font-weight: 500;
}
/* START CAROUSEL */

.carousel__bg {
  height: 100vh;
  object-fit: cover;
}

#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#carousel .carousel-caption {
  bottom: 30%;
}

#carousel .carousel-item::before {
  display: block;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}

.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.carousel-indicators li.active {
  background-color: #35a22c;
}

.carousel-item h5 {
  font-size: 56px;
}

.carousel-item p {
  font-size: 24px;
}

.overlay {
  background: rgba(39, 43, 54, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-item h5 .animate__animated .animate__fadeInUp {
  animation-delay: 0.5s;
}
/* END CAROUSEL */

/* PRODUCT */
.product__title p:first-of-type {
  font-weight: 600;
  font-size: 36px;
}

#products .item__content {
  border-radius: 16px;
  overflow: hidden;
  height: 450px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
}

#products .item__content img {
  height: 350px;
  object-fit: cover;
}

#products .item__content .title {
  padding: 15px;
  height: 100px;
  border: white solid 3px;
  border-top: none;
  border-radius: 0 0 16px 16px;
  transition: 0.3s;
}

#products .item__content:hover .title {
  color: #35a22c;
  border: #35a22c solid 2px;
  border-top: none;
  border-radius: 0 0 16px 16px;
}

.nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}
.nav-pills .nav-link.active {
  background: #35a22c;
}
/* FEATURE */

.feature {
  background: url(./image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}

.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
}

.feature .heading {
  position: relative;
}

.feature__item {
  padding: 40px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}

.feature__item i {
  font-size: 48px;
  color: #35a22c;
}

.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}

.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.feature__item:hover {
  background: #000;
  border: 1px solid #fff;
}

/* AWARD */

.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}

.award__bg {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  padding: 45px;
}

.award__right {
  padding: 45px 0;
}

.heading h2 {
  font-weight: 600;
}

/* FOOTER */

footer {
  background: #222222;
}

footer a {
  color: #aaa;
}
footer p {
  color: #aaa;
  margin: 0;
}
footer a:hover {
  text-decoration: none;
  color: #35a22c;
}
.footer__main i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid#454545;
  transition: all 0.5s;
}

.footer__main a {
  margin-right: 10px;
}

.footer__main a:last-child {
  margin-right: 0;
}

.footer__copies {
  border-top: 1px solid#454545;
  padding-top: 30px;
  margin-top: 30px;
}

.footer__main i:hover {
  border-color: #35a22c;
}
